DATA ANALYSIS

PAIR UNIT 35,36 Q1

In [12]:
#step 1
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns

song = pd.read_csv("spotify_global_2019_most_streamed_tracks_audio_features.csv")
print(song.head())

  Country  Rank                Track_id     Streams        Track Name  \
0  global   1.0  25sgk305KZfyuqVBQIahim  1166185736  Sweet but Psycho
1  global   2.0  2Fxmhks0bxGSBdJ92vM42m  1052358787           bad guy
2  global   3.0  6ocbgoVGwYJhOv1GgI9NsF   789094044           7 rings
3  global   4.0  1rgnBhdG2JDFTbYkYRZAku   764208309      Dance Monkey
4  global   5.0  6v3KW9xbzN5yKLt9YKDYA2   763064359          Se√±orita

          Artist                                                URL  \
0        Ava Max  https://open.spotify.com/track/25sgk305KZfyuqV...
1  Billie Eilish  https://open.spotify.com/track/2Fxmhks0bxGSBdJ...
2  Ariana Grande  https://open.spotify.com/track/6ocbgoVGwYJhOv1...
3    Tones and I  https://open.spotify.com/track/1rgnBhdG2JDFTbY...
4   Shawn Mendes  https://open.spotify.com/track/6v3KW9xbzN5yKLt...

   acousticness  danceability  energy  ...  valence    tempo  time_signature  \
0        0.0691         0.719   0.704  ...    0.628  133.002               4
1        0.3280         0.701   0.425  ...    0.562  135.128               4
2        0.5920         0.778   0.317  ...    0.327  140.048               4
3        0.6880         0.825   0.593  ...    0.540   98.078               4
4        0.0392         0.759   0.548  ...    0.749  116.967               4

   duration_ms  key  mode               Artist_id  Artist_popularity  \
0       187436    1     1  4npEfmQ6YuiwW1GpUmaq3F                 87
1       194088    7     1  6qqNVTkY8uBg9cP3Jd7DAH                 98
2       178627    1     0  66CXWjxzNUsdJxJ2JdwvnR                 97
3       209755    6     0  2NjfBq1NflQcKSeiDooVjY                 92
4       190800    9     0  7n2wHs1TKAczGzO7Dd2rGr                 94

   Artist_follower                                         Artist_img
0          1025358  https://i.scdn.co/image/4b914c6470c8458674538a...
1         18867904  https://i.scdn.co/image/2622edec99d68d1d141886...
2         40958727  https://i.scdn.co/image/b1dfbe843b0b9f54ab2e58...
3           484241  https://i.scdn.co/image/c128f5ef4d210a67610acd...
4         23152263  https://i.scdn.co/image/6bd59cfbd3e1e6394af710...

[5 rows x 24 columns]

In [ ]:
#step 1
print(song.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1717 entries, 0 to 1716
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            1717 non-null   object
 1   Rank               1717 non-null   float64
 2   Track_id           1717 non-null   object
 3   Streams            1717 non-null   int64
 4   Track Name         1717 non-null   object
 5   Artist             1717 non-null   object
 6   URL                1717 non-null   object
 7   acousticness       1717 non-null   float64
 8   danceability       1717 non-null   float64
 9   energy             1717 non-null   float64
 10  instrumentalness   1717 non-null   float64
 11  liveness           1717 non-null   float64
 12  loudness           1717 non-null   float64
 13  speechiness        1717 non-null   float64
 14  valence            1717 non-null   float64
 15  tempo              1717 non-null   float64
 16  time_signature     1717 non-null   int64
 17  duration_ms        1717 non-null   int64
 18  key                1717 non-null   int64
 19  mode               1717 non-null   int64
 20  Artist_id          1717 non-null   object
 21  Artist_popularity  1717 non-null   int64
 22  Artist_follower    1717 non-null   int64
 23  Artist_img         1717 non-null   object
dtypes: float64(10), int64(7), object(7)
memory usage: 322.1+ KB
None

In [ ]:
#STEP 1
print(song.describe())

              Rank       Streams  acousticness  danceability       energy  \
count  1717.000000  1.717000e+03   1717.000000   1717.000000  1717.000000
mean    859.000000  5.166175e+07      0.257652      0.675438     0.624354
std     495.799523  1.047532e+08      0.256975      0.154163     0.172298
min       1.000000  5.242300e+05      0.000037      0.151000     0.013700
25%     430.000000  1.763026e+06      0.051900      0.584000     0.525000
50%     859.000000  9.623926e+06      0.171000      0.694000     0.646000
75%    1288.000000  4.829352e+07      0.385000      0.787000     0.747000
max    1717.000000  1.166186e+09      0.979000      0.974000     0.978000

       instrumentalness     liveness     loudness  speechiness      valence  \
count       1717.000000  1717.000000  1717.000000  1717.000000  1717.000000
mean           0.014577     0.174317    -6.477624     0.129967     0.487719
std            0.085988     0.135992     2.777252     0.113958     0.220402
min            0.000000     0.019700   -25.166000     0.023200     0.026200
25%            0.000000     0.097200    -7.595000     0.044600     0.321000
50%            0.000000     0.123000    -5.991000     0.080100     0.490000
75%            0.000022     0.198000    -4.696000     0.188000     0.652000
max            0.956000     0.959000    -1.339000     0.856000     0.982000

             tempo  time_signature    duration_ms          key         mode  \
count  1717.000000     1717.000000    1717.000000  1717.000000  1717.000000
mean    122.147556        3.942341  202604.382644     5.332557     0.582994
std      30.734280        0.373427   58229.593358     3.677810     0.493208
min      46.489000        1.000000   46837.000000     0.000000     0.000000
25%      97.038000        4.000000  171573.000000     2.000000     0.000000
50%     120.013000        4.000000  196400.000000     6.000000     1.000000
75%     143.027000        4.000000  224225.000000     8.000000     1.000000
max     207.476000        5.000000  943529.000000    11.000000     1.000000

       Artist_popularity  Artist_follower
count        1717.000000     1.717000e+03
mean           87.246942     8.645130e+06
std             7.808209     1.105793e+07
min            47.000000     1.090000e+02
25%            83.000000     1.370858e+06
50%            87.000000     3.998147e+06
75%            93.000000     1.099547e+07
max           100.000000     5.746376e+07

In [ ]:
#step 2
tempo_df = song['tempo']
print(tempo_df.head(10))

0    133.002
1    135.128
2    140.048
3     98.078
4    116.967
5     93.989
6     95.799
7    109.891
8    100.015
9     99.947
Name: tempo, dtype: float64

In [ ]:
up_beat_playlist = song[song['tempo'] >120][['Artist', 'Track Name', 'tempo']]
print(up_beat_playlist.head(10))

           Artist                                     Track Name    tempo
0         Ava Max                               Sweet but Psycho  133.002
1   Billie Eilish                                        bad guy  135.128
2   Ariana Grande                                        7 rings  140.048
10         Halsey                                     Without Me  136.041
11     Pedro Cap√≥                                  Calma - Remix  126.899
13    Post Malone                    Goodbyes (Feat. Young Thug)  150.231
15      Lil Nas X  Old Town Road (feat. Billy Ray Cyrus) - Remix  136.041
17      Bad Bunny                                       Callaita  176.169
18        J. Cole                                   MIDDLE CHILD  123.984
20   Travis Scott                                     SICKO MODE  155.008

In [ ]:
#playlist to excell
up_beat_playlist.to_excel('up_beat_playlist.xlsx', index = False)

In [ ]:
#%pip install seaborn
import matplotlib.pyplot as plt
#import seaborn as sns
#visualizing the distribution of a specific column, such as 'tempo'
plt.figure(figsize=(10, 6))
sns.histplot(song['tempo'], kde=True)
plt.title('Distribution of Song Tempos')
plt.xlabel('Tempo')
plt.ylabel('Frequency')
plt.show()

# creating a playlist of only upbeat music using 'tempo' as the criterion
# and including artist name, track name, tempo, and streams
upbeat_playlist = song[song['tempo'] > 120][['Artist', 'Track Name', 'Streams', 'tempo']]

# Display the upbeat playlist
print(upbeat_playlist.head())

# Save the upbeat playlist to an Excel file
upbeat_playlist.to_excel('upbeat_playlist_1.xlsx', index=False)

In [ ]:
#question 1 Pair programming unit 37
import pandas as pd
import seaborn as sns

a = pd.read_csv("universities_ranking.csv")
a.head()
#checking data characteristic
a.info()
#searching for null values
a.isnull().sum()
#number of missing data
(len(a)-a.count()).sum()
#deleting a column with null value
gender_df = a.dropna()
gender_df.isnull().sum()
#a['gender ratio'].fillna('47 : 50', inplace = True)
a['gender ratio'].fillna(method = 'ffill', inplace = True)
a.isnull().sum()
a.head()

,ranking,title,location,number students,students staff ratio,perc intl students,gender ratio
0,1,University of Oxford,United Kingdom,"20,774",11.1,41%,46 : 54
1,2,Stanford University,United States,"16,223",7.4,23%,44 : 56
2,3,Harvard University,United States,"21,261",9.3,25%,49 : 51
3,4,California Institute of Technology,United States,"2,238",6.3,33%,36 : 64
4,5,Massachusetts Institute of Technology,United States,"11,276",8.4,34%,39 : 61

In [ ]:
#PAIR UNIT 38 Q1
import pandas as pd
import datetime 
df = pd.read_csv("DCOILWTICO.csv")
df.head()

         DATE DCOILWTICO
0  2019-08-19      56.24
1  2019-08-20      56.18
2  2019-08-21      55.65
3  2019-08-22      55.33
4  2019-08-23      54.08

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306 entries, 0 to 1305
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        1306 non-null   object
 1   DCOILWTICO  1306 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

In [ ]:
import pandas as pd

df['MY_DATE'] = pd.to_datetime(df['DATE'])
df['MY_DATE']

In [ ]:
df.head()

         DATE DCOILWTICO     N_DATE
0  2019-08-19      56.24 2019-08-19
1  2019-08-20      56.18 2019-08-20
2  2019-08-21      55.65 2019-08-21
3  2019-08-22      55.33 2019-08-22
4  2019-08-23      54.08 2019-08-23

In [ ]:
new_df = df.drop(['DATE'], axis = 1)
new_df.head()

  DCOILWTICO     N_DATE
0      56.24 2019-08-19
1      56.18 2019-08-20
2      55.65 2019-08-21
3      55.33 2019-08-22
4      54.08 2019-08-23

In [ ]:
new_df.set_index('MY_DATE', inplace = True)
new_df.head()

           DCOILWTICO
N_DATE
2019-08-19      56.24
2019-08-20      56.18
2019-08-21      55.65
2019-08-22      55.33
2019-08-23      54.08

In [ ]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1306 entries, 2019-08-19 to 2024-08-19
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DCOILWTICO  1306 non-null   object
dtypes: object(1)
memory usage: 20.4+ KB

In [ ]:
new_df['2019-08-19': '2019-08-23']

           DCOILWTICO
N_DATE
2019-08-19      56.24
2019-08-20      56.18
2019-08-21      55.65
2019-08-22      55.33
2019-08-23      54.08

In [ ]:
df.info()